WetPicsTelegramBot/obj/
WetPicsTelegramBot/bin/
PixivApi/obj/
PixivApi/bin/
.vs/
.idea/
WetPicsTelegramBot/config/AppSettings.Production.json
WetPicsTelegramBot/config/AppSettings.Development.json
obj/
config/
WetPicsTelegramBot.WebApp/bin/
*.user
WetPicsTelegramBot.Data/bin/
docker-compose.prod.yml
WetPicsTelegramBot.WebApp/logs/
/WetPicsTelegramBot.Tests/bin/*
