body {
    background: url('assets/backgrounds/overlord-knees.jpg') no-repeat center center fixed;
    background-size: cover;
}

.albedo-quest {
    display: none;
    color: gold;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%)
}

