<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="./logs/internal-nlog.txt">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="./logs/${shortdate}/nlog-all-${date:format=yyyy.MM.dd}.log"
            layout="${date:format=HH\:mm\:ss.fff}|${logger}|${uppercase:${level}}|${message}|${exception:format=toString}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile" fileName="./logs/${shortdate}/nlog-own-${date:format=yyyy.MM.dd}.log"
            layout="${date:format=HH\:mm\:ss.fff}|${logger}|${uppercase:${level}}|${message}|${exception:format=toString}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />

    <!-- write to console -->
    <!-- error - Indicates whether to send the log messages to the standard error instead of the standard output -->
    <target xsi:type="Console"
            name="console"
            layout="${date:format=HH\:mm\:ss.fff}|${logger}|${uppercase:${level}}|${message}|${exception:format=toString}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile" />
    <!--<logger name="*" minlevel="Trace" writeTo="console" />-->
  </rules>
</nlog>